# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment files
.env
.env.*

.vscode/

# Local results/output
# results/

# Logs
*.log
